:root{
    --key-color: #efefef;
    --key-color-grad: #d7d7d7;
    --text-color :#4e4e4eb8;
    --key-shadow: rgb(0 0 0 / 70%);
}
body{
    background: #7a7979;
    font-family:Helvetica;
}
.screen-strip{
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    width: 871px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -8px auto;
    position: relative;
}
.screen-strip .screen{
    background: linear-gradient(163deg,#ffdcdc, #affff8,#eeffb9);
    height: 496px;
    width: 100%;
    margin: 30px 15px 78px;
}
.web-cam{
    position: absolute;
    background: darkgrey;
    border-radius: 50%;
    border: 6px solid gray;
    width: 8px;
    height: 8px;
    top: 5px;
    opacity: 0.7;
}
.laptop-design{
    transform: scale(0.58);
}
.hp-logo img{
    position: absolute;
    width: 36px;
    bottom: 22px;
    filter: invert(1);
    left: 50%;
}
.joints{
    display: flex;
    justify-content: space-evenly;
    position: relative;
}
.joint{
    height: 20px;
    width: 100px;
    background: linear-gradient(180deg, rgb(104 104 104 / 85%),#e8e8ea, #7171719e);
    box-shadow: 1px 3px 4px #000000f6;
}
.keyboard-design .full-box{
    background: linear-gradient(180deg, #e8e8ea, #e8e3e3);
    border-radius: 10px;
    width: 871px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: -6px auto;
}
.lap-speaker{
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}
.dot-pattern{
    line-height: 0.3;
}
.dot-left{
    position: relative;
    left: 2.5px;
}
.keyboard-box{
    border-radius: 3px;
    padding: 5px 42px;
    margin: 5px;
    position: relative;
    box-shadow:  inset 15px 0 23px rgb(166 166 166 / 12%), inset -15px 0 23px rgb(166 166 166 / 12%);
}
.box-row{
    display: flex;
    gap: 5px;
    justify-content: space-between;
    color: var(--text-color);
}
.f-keys{
    background: linear-gradient(to right, var(--key-color),var(--key-color-grad));
    margin: 4px 0;
    padding: 5px 5px;
    min-width: 34px;
    text-align: center;
    font-size: 10px;
    font-weight: lighter;
    border-radius: 5px;
    border: 1px solid #000000a9;
    box-shadow:  0 0 2px var(--key-shadow) ;
}
.touchpad{
    background: linear-gradient(to right, #e8e8ea8f, #e8e3e3d4  );
    border: 1px solid rgb(146, 146, 146);
    border-radius: 3px;
    height: 170px;
    width: 322px;
    margin: 5px 0 10px;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.404);
    position: relative;
}
.keys{
    background: linear-gradient(180deg, var(--key-color),var(--key-color-grad));
    font-weight: lighter;
    text-align: center;
    border-radius: 4px;
    padding: 10px 17px;
    min-width: 9px;
    position: relative;
    margin: 4px 0;
    font-size: 15px;
    border: 1px solid #000000a9;
    box-shadow:  0 0 2px var(--key-shadow);
}
#thin{
    padding: 10px 12px;
    min-width: 7px;
}
#back{
    min-width: 72px;
    padding: 13px 6px;
    text-align: right;
}
.pos{
    position: absolute;
    font-size: 12px;
    left: 3px;
    top: 2px;
}
#underscore{
   top: -4px; 
}
.small-font{
    font-size: 10px;
    text-align: left;
    padding-top: 13px;
    padding-bottom: 13px;
}
.shift{
    padding: 13px 8px;
    min-width: 80px;
}
#spacebar{
    min-width: 228px;
}
.alt{
    text-align: center;
    min-width: 30px;
}
.nav-button{
    min-height: 13px;
    padding: 0 16px;
    background: linear-gradient(180deg, var(--key-color),var(--key-color-grad));
    font-weight: lighter;
    text-align: center;
    border-radius: 5px;
    min-width: 9px;
    min-width: 9px;
    position: relative;
    font-size: 15px;
    border: 1px solid #000000a9;
    box-shadow:  0 0 4.2px var(--key-shadow);
}
.arrows{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4px 0;
}
.end{
    min-width: 42px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
#fingerprint-sensor{
    height: 34px;
    width: 34px;
    background: linear-gradient(to right, #e8e8ea8f, #e8e3e3d4  );
    position: absolute;
    right: 111px;
    bottom: -44px;
    border: 1px solid rgb(141, 141, 141);
    border-radius: 3px;
}
.brand-text{
    text-transform: uppercase;
    position: absolute;
    letter-spacing: 6px;
    font-size: 9px;
    bottom: -21px;
    opacity: 0.7;
}